include .travis.yml
include AUTHORS
include LICENSE
include LICENSE.PSF
include MANIFEST.in
include NEWS
include README.rst
include appveyor.yml
include appveyor/run_pip.py
include appveyor/run_with_env.cmd
include benchmarks/bounce.py
include benchmarks/chain.py
include conftest.py
include dev-requirements.txt
include doc/Makefile
include doc/conf.py
include doc/greenlet.txt
include doc/index.txt
include doc/make.bat
include greenstack.c
include greenstack.h
include libcoro/coro.c
include libcoro/coro.h
include make-manylinux
include make-win-release
include my_build_ext.py
include run-tests.py
include setup.cfg
include setup.py
include setup_switch_x64_masm.cmd
include tests/__init__.py
include tests/_test_extension.c
include tests/_test_extension_cpp.cpp
include tests/test_cpp.py
include tests/test_extension_interface.py
include tests/test_gc.py
include tests/test_generator.py
include tests/test_generator_nested.py
include tests/test_greenlet.py
include tests/test_leaks.py
include tests/test_throw.py
include tests/test_tracing.py
include tests/test_version.py
include tests/test_weakref.py
include tox.ini
